@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Montserrat, sans-serif !important;
}

.main-body {
  min-height: calc(100vh - 100px - 70px - 70px) !important;
}

.note-card-container {
  animation: scaleAndTranslate 0.5s ease-in-out forwards;
}

.search-box {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: slideDown 0.5s ease-in-out forwards !important;
}

.delete-note {
  animation: translateAndVanish 0.5s ease-in-out forwards;
}

.hidden {
  display: none;
}

.note .note-card {
  background: linear-gradient(
    180deg,
    rgba(238, 162, 255, 0.653) 0%,
    rgba(185, 0, 247, 0.701) 100%
  );
}

.completed-note p,
.completed-note h2,
.completed-note svg {
  color: gray;
  text-decoration: line-through;
}

.completed-note .card-category-button {
  background-color: gray;
  color: rgb(173, 173, 173);
}

.completed-note .note-card {
  background-color: rgba(47, 47, 47, 0.1);
}

.tab-wrap ul {
  justify-content: center;
}

@media (max-width: 1038px) {
  .cat-tab-line {
    display: none;
  }
  .cat-tab[aria-selected="true"],
  .cat-tab[data-selected] {
    border-bottom: 2px solid;
  }
}

@keyframes scaleAndTranslate {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes translateAndVanish {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
